---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.author %} • {% endif %}{% include author-profile.html %}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.comments %}
    {% include comments.html %}
  {% endif %}
</article>

{% if page.related_posts.size > 0 %}
  {% include related-posts.html posts=page.related_posts %}
{% endif %}

{% if page.show_subscribe %}{% include subscribe.html %}{% endif %}
